<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div>
    <div class="container d-flex justify-content-center">
        <div class="row " style="height: 600px; width: 1000px; margin: 30px 0;">
            <div class="col-6 fondoregister"></div>
            <div class="col-6 contenedor-formulario">
                <div class="d-flex justify-content-end" style="margin: 20px 10px 0 0;">
                    <button onclick="signin()" class="sign-in">Sign In</button>
                    <button onclick="signup()" class="sign-up">Sign Up</button>
                </div>
                <!-- FORMULARIO REGISTER -->
                <div class="registro" id="registro" style="display: none;">
                    <form action="/users/registro" method="POST">
                        <label class="label-formulario" for="nameregister">Name</label>
                        <input class="input-formulario" type="text" name="nameregister" id="nameregister" placeholder="Enter your name">

                        <label class="label-formulario" for="nameregister">Last name</label>
                        <input class="input-formulario" type="text" name="lnameregister" id="lnameregister" placeholder="Enter your last name">

                        <label class="label-formulario" for="passregister">Password</label>
                        <input class="input-formulario" type="password" name="passregister" id="passregister" placeholder="Enter your full name">

                        <label class="label-formulario" for="emailregister">E-mail</label>
                        <input class="input-formulario" type="email" name="emailregister" id="emailregister" placeholder="Enter your email">

                        <div style="position: relative;">
                        <input class="checkbox-formulario" type="checkbox" name="checkboxregister" id="checkboxregister"><span class="texto-checkbox">By signin up you agree Terms & Conditions</span>
                        </div>

                        <button class="boton-formulario" type="submit">Sign Up</button>
                    </form>
                </div>
                <!-- FIN FORMULARIO REGISTER -->
<!-- FORMULARIO LOGIN -->
                <div class="login" id="login">
                    <form action="/users/login" method="POST">
                        <label class="label-formulario" for="emaillogin">E-mail</label>
                        <input class="input-formulario" type="email" name="emaillogin" id="emaillogin" placeholder="Enter your email">

                        <label class="label-formulario" for="passregister">Password</label>
                        <input class="input-formulario" type="password" name="passlogin" id="passlogin" placeholder="Enter your full name">

                        <div style="position: relative;">
                       
                        <input class="checkbox-formulario" type="checkbox" name="checkboxlogin" id="checkboxlogin" ><span class="texto-checkbox" >Remember me</span>
                        </div>

                        <button class="boton-formulario " type="submit">Sign In</button>
                    </form>
                </div>
<!-- FIN FORMULARIO LOGIN -->
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/loginRegister.js"></script>











<%- include('./partials/footer') %> 