<!DOCTYPE html>
<html>
<%- include('./partials/head') %>
<body>
<%- include('./partials/header') %>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-2">
            <div class="product-categories text-start">
                <div class="boton-nav-product-categories"><h6>PRODUCT CATEGORIES</h6></div>
                <div class="divider"></div>
                <div class="boton-nav-product-categories"><button>Books and Media</button></div>
                <div class="divider"></div>

                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <a href=""></a>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="font-size: 15px;">
                          Clothing
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="divider"></div>
                        <div class="boton-nav-product-categories"><button>Opcion 1</button></div>
                        <div class="divider"></div>
                        <div class="boton-nav-product-categories"><button>Opcion 2</button></div>
                        <div class="divider"></div>
                        <div class="boton-nav-product-categories"><button>Opcion 3</button></div>
                        <div class="divider"></div>
                        <div class="boton-nav-product-categories"><button>Opcion 4</button></div>
                        <div class="divider"></div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style="font-size: 15px;">
                          Electronics
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="divider"></div>
                        <div class="boton-nav-product-categories"><button>Opcion 1</button></div>
                        <div class="divider"></div>
                        <div class="boton-nav-product-categories"><button>Opcion 2</button></div>
                        <div class="divider"></div>
                        <div class="boton-nav-product-categories"><button>Opcion 3</button></div>
                        <div class="divider"></div>
                        <div class="boton-nav-product-categories"><button>Opcion 4</button></div>
                        <div class="divider"></div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" style="font-size: 15px;">
                          Furniture
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="divider"></div>
                        <div class="boton-nav-product-categories"><button>Opcion 1</button></div>
                        <div class="divider"></div>
                        <div class="boton-nav-product-categories"><button>Opcion 2</button></div>
                        <div class="divider"></div>
                        <div class="boton-nav-product-categories"><button>Opcion 3</button></div>
                        <div class="divider"></div>
                        <div class="boton-nav-product-categories"><button>Opcion 4</button></div>
                        <div class="divider"></div>
                      </div>
                    </div>
                  </div>

                    <div class="divider"></div>
                    <div class="boton-nav-product-categories"><button>Health</button></div>
                    <div class="divider"></div>
                    <div class="boton-nav-product-categories"><button>Jewellery</button></div>
                    <div class="divider"></div>
                    <div class="boton-nav-product-categories"><button>More stores</button></div>
                    <div class="divider"></div>
                    <div class="boton-nav-product-categories"><button>Shoes</button></div>
                    <div class="divider"></div>
                    <div class="boton-nav-product-categories"><button>Sports</button></div>
                    <div class="divider"></div>
                    <div class="boton-nav-product-categories"><button>Uncategorized</button></div>
                    <div class="divider"></div>
                    <div class="boton-nav-product-categories"><button>Watches</button></div>
            </div>
        </div>

        <div class="col-10">
            <div class="row">
                <!-- imagenes del product -->
                <div class="col-6">
                    <div class="row">
                        <div class="col-4 detail-images3-padding">
                            <figure class="detail-images3"><img src="" alt=""></figure>
                            <figure class="detail-images3"><img src="" alt=""></figure>
                            <figure class="detail-images3"><img src="" alt=""></figure>
                        </div>
                        <div class="col-8">
                            <figure class="detail-img">
                                <img src="/images/card1.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                    
                </div>
                <!-- detalle del producto -->
                <div class="col-6">
                    <h1 class="name-detail">Nombre del producto</h1>
                    <p class="price-detail">$PRECIO</p>
                    <p class="description-detail">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero minus at, repudiandae, ex ut optio voluptatem soluta suscipit harum quaerat, unde vel exercitationem. Omnis est eveniet ipsa ab laudantium repellat, molestias nostrum, nemo error quo nisi officia voluptatum iusto minima! Officia quia cumque, similique saepe at iste architecto animi? Iusto!</p>
                    <div class="row">
                        <div class="col-2">
                            <p class="color-detail">Color:</p>
                        </div>
                        <div class="col-10">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Chose an option</option>
                                <option value="1">Red</option>
                                <option value="2">Blue</option>
                                <option value="3">Black</option>
                                <option value="3">White</option>
                            </select>
                        </div>

                        <div class="col-2">
                            <p class="color-detail">Size:</p>
                        </div>
                        <div class="col-10">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Chose an option</option>
                                <option value="1">Small</option>
                                <option value="2">Large</option>
                            </select>
                        </div>

                        <div class="col-2">
                            <p class="color-detail">Quantity:</p>
                        </div>
                        <div class="col-10">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Chose an option</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>

                        <div class="col-9">
                            <button class="button-page">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">DESCRIPTION</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">ADDITIONAL DETAIL</button>
                        </li>
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-3" id="home" role="tabpanel" aria-labelledby="home-tab">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et cum quisquam odio reprehenderit iusto? Modi at hic culpa, ea a molestiae minus voluptatibus porro ducimus quisquam mollitia nostrum, laborum, deserunt repudiandae dolores! Quas nisi nulla doloribus officiis cupiditate dolore corporis molestiae voluptatem suscipit quae a ab impedit, consectetur quo ad atque quisquam porro, unde doloremque cum ullam perspiciatis. Repellendus deleniti labore ad? Nobis odit beatae ut corporis, in laborum quibusdam vero aspernatur possimus odio pariatur veniam! Esse accusantium nostrum suscipit ratione placeat officia voluptatem rem libero unde aliquid repellendus natus similique magnam voluptatibus ipsum a totam illum, tenetur aut inventore earum aspernatur? Recusandae modi possimus fugit impedit magnam dignissimos molestiae qui corporis sit. Consequuntur maiores autem asperiores cum quos nostrum assumenda accusantium voluptates enim quasi accusamus laudantium itaque tempora est sunt quaerat eos pariatur incidunt voluptatibus, ipsa impedit corrupti nihil beatae. Iste doloribus molestiae, nihil quia ducimus molestias libero esse.</div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div>
                                <table class="table table-dark mt-3">
                                  <tbody>
                                    <tr>
                                      <th class="th-cart-total "scope="row">COLOR</th>
                                      <td class="th-cart-total">Red, Yellow, Blue, Black</td>
                                    </tr>
                                    <tr>
                                      <th class="th-cart-total " scope="row">SIZE</th>
                                      <td class="th-cart-total">Small, Large</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./partials/footer') %> 